{% extends "layouts.html" %}
{% block content %}

<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4 offset-lg-3 div-wrapper d-block justify-content-center align-items-center">
        	<div class="panel panel-default">
			 			<div class="panel-body">
							<form role="form" method="POST">
                                {{ form.hidden_tag() }}

			    			<div class="form-group">

                                {{ form.product(class="form-control input-sm text-center", placeholder="Product Name") }}<br>

			    			</div>
								<div class="form-group">
			    				{{ form.paid_amount(class="form-control input-sm text-center", placeholder="Paid Amount") }}<br>
                                </div>
							<div class="form-group">
                            {{ form.total_amount(class="form-control input-sm text-center", placeholder="Total Amount") }}<br>
                            </div>
                                {{ form.submit(class="btn btn-info btn-block") }}
			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
{% endblock %}
<!--<div class="col-10 offset-1 col-lg-8 offset-lg-2 div-wrapper d-flex justify-content-center align-items-center">-->
